/***** 공통사항 *****/
footer {padding-bottom:5000px;}

.wrap {max-width:1200px; margin:0 auto;}
.arrow_down {font-size:0.5em !important;}
.txt_green {color:#84b736;}
.c_greyccc {color:#ccc;}
.c_greyddd {color:#ddd;}
.c_green {color:#84b736;}

/***** 이미지 로더 *****/
.loader {width:100%; height:100%; background-color:rgba(0,0,0,0.4); display:table; position:absolute; z-index:99999;}
.loader > div {display:table-cell; text-align:center; vertical-align:middle; font-size:5rem; color:#fff;}



/***** HEADER *****/
header {background-color:#84b736; font-size:1rem; font-weight:400; color:#fff;}
header > div {width:100%;}
header li {padding:1em 0.75em}
.hd_lt {float:left;}
.hd_lt > li {float:left; border-left:1px solid rgba(255,255,255,0.3);}
.hd_rt {float:right;}
.hd_rt > li {float:right; border-right:1px solid rgba(255,255,255,0.3);}
.hd_rt .fa {font-size:1.25em; margin-left:0.5em;}

/***** TOPS *****/
.tops {width:100%; padding:30px 0; font-size:1rem;}
.logos {width:270px; float:left; padding-right:20px; padding-top:6px;}

.searchs {width:calc(100% - 540px); float:left;}
.searchs > li {border:1px solid #ccc; float:left; height:44px;}
.searchs > li:nth-child(1) {width:calc(100% - 210px); padding-top:4px;}
.searchs > li:nth-child(1) > input {border:none;}
.searchs > li:nth-child(1) > input:focus {outline:none;}
.searchs > li:nth-child(2) {width:166px; text-align:center; line-height:42px; margin-left:-1px; position:relative;}
ul.search_catelist {display:none; border:1px solid #ccc; position:absolute; 
	top:42px; right:-1px; min-width:166px; background-color:#fff; 
	box-shadow:0 2px 2px rgba(0,0,0,0.1);}
ul.search_catelist > li {padding:0.5em 0.5em 0.5em 1.5em; color:#999; line-height:1.5em; text-align:left;}
.searchs > li:nth-child(3) {width:44px; margin-left:-1px; text-align:center; line-height:42px; font-size:1.5em; color:#ccc;}

.logins {width:270px; float:right;}
.logins > li {float: right; line-height:42px; text-align:right; padding-left:10px; font-size:1.25em;}
.logins .fa {font-size:1.25em;}
.logins > :nth-child(2) {position: relative;}
.logins .w3-badge {padding:2px 4px; line-height:1em; font-size:0.75em; background-color:#84b736;
position: absolute; top:0; right:-0.5em;}

/***** mains *****/
.mains {width:100%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:52px; font-size:1.25rem;}
.navs {position: relative;}
.navs > li:not(.menu_modal) {float:left; height:50px; line-height:50px;}
.navs > .cate_top {width:270px; background-color:#84b736; padding:0 1em; color:#fff; font-weight:400;}
.navs > .cate_top > :first-child {font-size:1.25em; margin-right:0.3em;}
.navs > .cate_top > :nth-child(2) .arrow_down {color:#ccc;}
.navs > .cate_top > :last-child {float:right;}
.navs > .menu {width:calc(100% - 540px);}
.navs > .menu .arrow_down {color:#ccc;}
.navs > .menu > ul > li {float:left; margin-left:1em; position: relative;}
.navs > .menu > ul > li:nth-child(1), .navs > .menu > ul > li:nth-child(2) {position: static !important;}
.navs > .etc {width:270px; text-align:right;}
.navs > .etc > :nth-child(2) {padding:0 0.5em;}


.menu > ul > li {cursor:pointer;}
.menu_modal {background-color:#fff; top:51px; left:0; position:absolute !important; width:100%; display: none; padding:3em 0; border-bottom:1px solid #ccc; z-index:10;}
.menu_modal a {text-decoration:none;}
.menu_modal li {line-height:2.5em; position:relative;}
.menu_modal .tooltip {position:absolute; padding:0.15em; top:-1.20em; left:0; opacity:1; color:white; font-size:0.6em;}
.menu_modal .tooltip > div {width:8px; height:8px; transform:rotate(55deg); position: absolute; left:20%; bottom:-3px;}

#modal0 > ul {width:20%; padding:2%; float: left;}
#modal0 > ul > :first-child {box-shadow:0 0 3px rgba(0,0,0,0.3);}
#modal0 > ul > :last-child {margin:0.5em 0; text-align:center; color:#333; font-weight:400;}
#modal1 > ul {padding:2%; float:left;}
#modal1 .title a {font-weight:400; color:#222;}
#modal1 .cont a {color:#999; font-size:0.9em;}
#modal1 a:hover {color:#84b736;}


#modal2 {width:802px; position: absolute; border:1px solid #ccc; margin-top:-1px; padding:0; background-color:#fafafa;}
#modal2 > .blogs {width:490px; float:left; padding:40px 30px; border-right:1px solid #ccc; background-color:#fff;}
#modal2 > .blogs > ul {width:50%; float:left; line-height:2.5em;}
.blogs .title a {font-weight:400; color:#222;}
.blogs .sub a {color:#999; font-size:0.9em;}
.blogs a:hover {color:#84b736;}
#modal2 > .recents {width:310px; float:right; padding:40px 30px;}
.recents .title {font-weight:400; color:#222; line-height:2.5em;}
.recents .post {line-height:1em; border-bottom:1px solid #ccc; padding:1em 0;}
.post > img {float:left; width:35%;}
.post > div {float:right; width:60%; line-height:1.25em;}
.post .post_title {color:#666;}
.post .post_date {color:#aaa; font-size:0.75em;}
.post .post_cnt {color:#999; font-size:0.75em;}
.post .post_comment {color:#999; font-size:0.75em;}

/***** 좌측 네비게이션 및 배너 *****/
.banners {position:relative;}
.banners .cate {width:270px; border-right:1px solid #ccc; position: relative;}
.banners .banner {width:100%; position:absolute; top:0; left:270px; background-color:#f8f8f8; height:490px; overflow: hidden; padding: 5% 0 0 5%;}
.banners .cate > li {padding:0.75em; font-size:1.25em; border-bottom:1px solid #ccc;}
.banners .cate > li > a {margin-left:1em; text-decoration:none;}
.banners .cate > li > a:hover {color:#84b736;}
.banners .cate > li .fa-angle-right {color:#aaa; float:right; padding-top:0.2em;}
.banners .cate > li > .cate_panel {position:absolute; border:1px solid #ccc; width:800px; left:269px; top:-1px; z-index:20; height:491px; background-color:#fff; display:none;}
.fur_panel {width:25%; float:left; padding:2%; font-size:1.25rem;}
.fur_panel > li {padding:5px 0;}
.fur_panel > li:hover {color:#84b736;}
.fur_panel > li:nth-child(2) {font-weight:bold;}
.fur_brand_panel {width:100%; position:absolute; bottom:0; background-color:#f1f1f1;}
.fur_brand_panel > li {float:left; width:25%; text-align:center; padding:0.5% 5%;}

.banner > li {display:none;}
.banner .ban_img {position:absolute; width:50%; right:5%; top:0;}
.banner .ban_tit {font-size:4em; color:#333; font-weight:bold; opacity:0; width:40%;}
.banner .ban_stit {font-size:1.5em; color:#666; opacity:0; width:40%;}
.banner .ban_cont {font-size:1.25em; color:#999; opacity:0; width:40%; margin-top:20px;}
.banner .ban_color {opacity:0; width:40%; margin-top:20px;}
.banner .ban_color > div {float:left;}
.banner .icon {width:30px; height:30px; border-radius:15px 4px 15px 15px; margin-left:15px;}
.banner .ban_price {font-size:3em; color:#84b736; opacity:0; width:40%; margin-top:40px;}
.banner > :last-child {text-align:center;}
.banners .rt_arrow {width:40px; height:50px; position: absolute; top:calc(50% - 25px); right:-200px; background:#ccc; font-size:2em; line-height:50px; color:#000; text-align:center; cursor:pointer;}
.banners .rt_arrow:hover {font-size:3em;}
.ban_ani {animation-name:ban-ani; animation-duration:0.5s; animation-fill-mode:forwards;}
.img_ani {animation-name:img-ani; animation-duration:0.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
@keyframes ban-ani {
	0% {opacity:0; transform:translateY(100px);}
	100% {opacity:1; transform:translateY(0);}
}
@keyframes img-ani {
	0% {opacity: 0; right:-500px;}
	100% {opacity: 1; right:0;}
}

/***** FEATURED *****/
/* section {border:1px solid #f00;} */
.featured {margin-top:60px; text-align:center;}
.featured > h5:nth-child(1) {color:#bbb;}
.featured > h5:nth-child(3) {color:#999;}
.featured > h3 {color:#333; padding:1rem 0; line-height:2rem;}

.featured_items {margin-top:2rem;}
.featured_lt {float:left; width:49%;}
.featured_rt {float:right; width:50%;}
.featured_item {box-shadow:2px 2px 3px rgba(0,0,0,.1); position: relative; text-align:left; overflow:hidden;}
.featured_rt .featured_item {margin:0 2% 2% 0; width:48%; float:left;}
.featured_item > div {position:absolute; bottom:-3rem; left:1rem;}
.featured_item h3 {color:#333; padding:0.5rem;}
.featured_item h5 {color:#bbb; padding:0.5rem;}
.featured_item > img {animation-duration:0.5s; animation-fill-mode:forwards;}
@keyframes featuredAni {
	0% {transform: scale(1);}
	100% {transform: scale(1.3);}
}
@keyframes featuredAniBack {
	0% {transform: scale(1.3);}
	100% {transform: scale(1);}
}

/***** Featured Products *****/
.prds {margin-top:60px; text-align:center;}
.prds > h5:nth-child(1) {color:#bbb;}
.prds > h5:nth-child(3) {color:#999;}
.prds > h3 {color:#333; padding:1rem 0; line-height:2rem;}

.prd_nav {margin-top:2rem;}
.prd_nav > li {display:inline-block; font-size:1.125rem; color:#666; font-weight:bold; margin:0 1rem; cursor:pointer; position:relative;}
.prd_nav > li > div {width:0%; height:2px; background-color:#84b736; position:absolute;}

.prd_out_wrap {margin-top:2rem; position:relative;}
.prd_wrap {display:none; position:relative; top:5rem; opacity:0; width:100%;}
.prd {width:24%; margin:0.5%; float:left; font-size:1rem; position:relative;}
.prd_tit {color:#555; font-size:1.25em; line-height:1.5em; padding:0.25em; font-weight:bold;}
.prd_cate {font-size:0.875em; color:#888; padding:0.25em;}
.prd_price {padding:0.25em;}
.prd_price > :first-child {text-decoration:line-through; color:#aaa; font-size:1em;}
.prd_price > :last-child {color:#84b736; font-size:1.25em; font-weight:bold;}

.prd_hover {position:absolute; width:110%; padding:5% 5% 0 5%; left:-5%; top:-5%; border:1px solid #f1f1f1; 
	box-shadow:0 0 5px rgba(0,0,0,0.2); display:none; z-index:3;}
.prd_hover > ul {background-color:#fff; width:110%; margin-left:-5%; padding:0 5% 5% 5%;}
.prd_hover > .prd_img {overflow: hidden;}
.prd_hover > .prd_img > img {animation-duration:3s; animation-fill-mode: forwards; animation-timing-function: ease-in; opacity:0;}
@keyframes prdImg {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@keyframes prdImgBack {
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
.prd_hover .prd_compare {position:relative; width:100%;}
.prd_hover .prd_compare > div {position:absolute; line-height:24px; padding:8px 0; 
		border-top:1px solid #eee; border-bottom:1px solid #eee; text-align:right; width:100%; background-color:#fff;}	
.prd_hover .prd_tit {position:relative;}
.prd_hover .prd_cate {position:relative;}
.prd_hover .prd_price {position:relative;}
.prd_hover .prd_cont {position:relative; font-size:1.25em; height:6em; line-height:1.5em; overflow:hidden; background-color:#fff;}
.prd_hover .prd_cont > div {width:100%; height:20px; position:absolute; bottom:-20px; background-color:#fff; cursor:pointer;}
.prd_hover .prd_detail {position:relative; color:#fff; height:40px; cursor:pointer; margin-top:10px; background-color:#fff;}
.prd_hover .prd_detail > :nth-child(1) {float:left; width:25%; padding:8px 0;} 
.prd_hover .prd_detail > :nth-child(2) {float:left; width:50%; height:40px; background-color:#84b736; border-bottom:2px solid #405e14; overflow-y:hidden;} 
.prd_hover .prd_detail > :nth-child(2) > li {height:38px; line-height:38px; font-size:1.25em;} 
.prd_hover .prd_detail > :nth-child(3) {float:left; width:25%; padding:8px 0;} 

.prd_pop {width:60px; height:60px; line-height:60px; color:#fff; font-weight:bold; font-size:1.125em; background-color: #84b736; border-radius:30px; position: absolute; top:10px; left:10px;}

/***** 하단 배너 *****/
.fbans {width:100%; min-height:490px; margin-top:3rem; background-color:#84b736;}
.fban {width:100%; position:relative;}
.fban > li {width:100%; position:absolute;}
.fban .wrap {overflow:hidden; background:url(../img/main/wood-green-slider-bestsellers.svg) no-repeat center; background-size:100% auto; padding:2rem 0; color:#fff; font-size:1rem;}
.fban .wrap > :first-child {float:left; max-width:545px; width:45%;}
.fban .wrap > :last-child {float:left; width:55%;}
.fban .wrap h1 {font-size:5em; letter-spacing:-2.5px;}
.fban .wrap h5 {margin-top:3rem;}
.fban .wrap > div > :nth-child(3) {margin-top:2rem;}
.fban .wrap > div > :nth-child(3) > li {width:30%; float:left;}
.fban .wrap > div > :nth-child(3) > li > div {padding:1rem 0; font-size:1.25em;}
.fban .wrap > div > :nth-child(3) > :nth-child(2) {margin:0 5%;}
.fban .wrap > div > :nth-child(3) > li > :first-child {border-bottom: 1px solid rgba(255,255,255, 0.2);}
.fban .wrap > div > :nth-child(3) > li > :last-child {font-style:italic;}
.fban .wrap > div > :nth-child(4) {margin-top:2rem;}
.fban .wrap > div > :nth-child(4) > :first-child {font-size:3em; line-height:1.125em;}
.fban .wrap > div > :nth-child(4) .bt_addcart {padding:1rem 2rem; border:1px solid #fff; background-color:transparent; font-size:1.125em; margin-left:3rem;}
.fban .wrap > div > :nth-child(4) .bt_addcart:hover {border-width:2px; transform:translate(-1px, -1px);}